# 秘匿情報は Secret Manager で管理すること

APP_ENV=
CAPITALIZED_APP_ENV=
APP_NAME=
TEAM_ID=
BUNDLE_ID=
APP_ID=
ANDROID_NDK_VERSION=
ANDROID_MIN_SDK=
SHA256_CERT_FINGERPRINTS=

# Web
ORIGIN=
WEB_DESCRIPTION=
THEME_COLOR=

# Deep Linking
HOST=

# Firebase Web
FIREBASE_WEB_API_KEY=
FIREBASE_WEB_APP_ID=
FIREBASE_WEB_MESSAGING_SENDER_ID=
FIREBASE_WEB_PROJECT_ID=
FIREBASE_WEB_AUTH_DOMAIN=
FIREBASE_WEB_DATABASE_URL=
FIREBASE_WEB_STORAGE_BUCKET=
FIREBASE_WEB_MEASUREMENT_ID=

# Firebase Android
FIREBASE_ANDROID_API_KEY=
FIREBASE_ANDROID_APP_ID=
FIREBASE_ANDROID_MESSAGING_SENDER_ID=
FIREBASE_ANDROID_PROJECT_ID=
FIREBASE_ANDROID_DATABASE_URL=
FIREBASE_ANDROID_STORAGE_BUCKET=

# Firebase iOS
FIREBASE_IOS_API_KEY=
FIREBASE_IOS_APP_ID=
FIREBASE_IOS_MESSAGING_SENDER_ID=
FIREBASE_IOS_PROJECT_ID=
FIREBASE_IOS_DATABASE_URL=
FIREBASE_IOS_STORAGE_BUCKET=
FIREBASE_IOS_CLIENT_ID=
FIREBASE_IOS_BUNDLE_ID=

# Firebase macOS
FIREBASE_MACOS_API_KEY=
FIREBASE_MACOS_APP_ID=
FIREBASE_MACOS_MESSAGING_SENDER_ID=
FIREBASE_MACOS_PROJECT_ID=
FIREBASE_MACOS_DATABASE_URL=
FIREBASE_MACOS_STORAGE_BUCKET=
FIREBASE_MACOS_CLIENT_ID=
FIREBASE_MACOS_BUNDLE_ID=

# Firebase Windows
FIREBASE_WINDOWS_API_KEY=
FIREBASE_WINDOWS_APP_ID=
FIREBASE_WINDOWS_MESSAGING_SENDER_ID=
FIREBASE_WINDOWS_PROJECT_ID=
FIREBASE_WINDOWS_AUTH_DOMAIN=
FIREBASE_WINDOWS_DATABASE_URL=
FIREBASE_WINDOWS_STORAGE_BUCKET=
FIREBASE_WINDOWS_MEASUREMENT_ID=

# Firebase Data Connect
# firebase/dataconnect/dataconnect.yaml と一致させること
FIREBASE_DATA_CONNECT_LOCATION=
FIREBASE_DATA_CONNECT_CONNECTOR=
FIREBASE_DATA_CONNECT_SERVICE_ID=

# reCAPTCHA
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Secure Storage iOS/macOS
APPLE_KEYCHAIN_ACCOUNT_NAME=
APPLE_KEYCHAIN_GROUP_ID=

# Secure Storage Android
ANDROID_SHARED_PREFERENCES_NAME=

# Secure Storage Web
WEB_DB_NAME=
WEB_PUBLIC_KEY=
# openssl rand -base64 32 コマンドで生成
WEB_KEY_ENCRYPTION_KEY=
# openssl rand -base64 16 コマンドで生成
WEB_KEY_ENCRYPTION_IV=
