{
  "applinks": {
    "details": [
      {
        "appIDs": [
          "{{TEAM_ID}}.{{BUNDLE_ID}}"
        ],
        "components": [
          {
            "/": "/*",
            "comment": "Matches all paths and opens all URLs from this domain."
          }
        ]
      }
    ]
  },
  "webcredentials": {
    "apps": [
      "{{TEAM_ID}}.{{BUNDLE_ID}}"
    ]
  }
}