<!DOCTYPE html>
<html lang="en-US">

<head>
  <!--
    If you are serving your web app in a path other than the root, change the
    href value below to reflect the base path you are serving from.

    The path provided below has to start and end with a slash "/" in order for
    it to work correctly.

    For more details:
    * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base

    This is a placeholder for base href that will be replaced by the value of
    the `--base-href` argument provided to `flutter build`.
  -->
  <base href="$FLUTTER_BASE_HREF">

  <meta charset="UTF-8">

  <!-- SEO -->
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="{{WEB_DESCRIPTION}}">

  <!-- iOS meta tags & icons -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="{{APP_NAME}}">
  <link rel="apple-touch-icon" href="icons/apple-touch-icon-{{APP_ENV}}.png">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="favicon-{{APP_ENV}}.ico" />

  <!-- Open Graph Protocol -->
  <meta property="og:title" content="{{APP_NAME}}">
  <meta property="og:description" content="{{WEB_DESCRIPTION}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ORIGIN}}">
  <meta property="og:image" content="icons/ogp-{{APP_ENV}}.png">
  <meta property="og:site_name" content="{{APP_NAME}}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{APP_NAME}}">
  <meta name="twitter:description" content="{{WEB_DESCRIPTION}}">
  <meta name="twitter:image" content="icons/ogp-{{APP_ENV}}.png">

  <!-- Web application manifest -->
  <link rel="manifest" href="manifest-{{APP_ENV}}.json">
  <meta name="theme-color" content="{{THEME_COLOR}}">
  <meta name="msapplication-TileColor" content="{{THEME_COLOR}}">

  <!-- Enable multi-threading for WebAssembly(https://docs.flutter.dev/platform-integration/web/wasm) -->
  <!--  -->
  <meta http-equiv="Cross-Origin-Embedder-Policy" content="credentialless">
  <meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin">

  <script>
    // 実行時に baseUrl を設定
    document.addEventListener('DOMContentLoaded', function () {
      const baseUrl = window.location.origin;

      const ogUrl = document.querySelector('meta[property="og:url"]');
      if (ogUrl) {
        ogUrl.setAttribute('content', baseUrl);
      }

      const ogImage = document.querySelector('meta[property="og:image"]');
      if (ogImage) {
        const imagePath = ogImage.getAttribute('content');
        ogImage.setAttribute('content', baseUrl + '/' + imagePath);
      }

      const twitterImage = document.querySelector('meta[name="twitter:image"]');
      if (twitterImage) {
        const imagePath = twitterImage.getAttribute('content');
        twitterImage.setAttribute('content', baseUrl + '/' + imagePath);
      }
    });
  </script>
</head>

<body>
  <h1 aria-label="{{WEB_DESCRIPTION}}"></h1>
  <script src="flutter_bootstrap.js" defer></script>
</body>

</html>